--- 
http_interactions: 
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:CreateChannel><ChannelURI>Test</ChannelURI><ChannelType>Publication</ChannelType></ins0:CreateChannel></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/CreateChannel\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CreateChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:45 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:OpenPublicationSession><ChannelURI>Test</ChannelURI></ins0:OpenPublicationSession></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/OpenPublicationSession\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OpenPublicationSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"><SessionID>ccd9b257-a19d-4205-919c-24376c642c58</SessionID></OpenPublicationSessionResponse></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:47 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:PostPublication><SessionID>ccd9b257-a19d-4205-919c-24376c642c58</SessionID><MessageContent><CCOMData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.mimosa.org/osa-eai/v3-2-3/xml/CCOM-ML"><Entity xsi:type="Asset"><GUID>C013C740-19F5-11E1-92B7-6B8E4824019B</GUID></Entity></CCOMData></MessageContent><Topic>topic</Topic><Expiry></Expiry></ins0:PostPublication></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/PostPublication\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><PostPublicationResponse xmlns="http://www.openoandm.org/xml/ISBM/"><MessageID>ed712645-e1d9-4c00-88bf-6fabaf370df1</MessageID></PostPublicationResponse></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:48 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ConsumerPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:OpenSubscriptionSession><ChannelURI>Test</ChannelURI><Topic>topic</Topic></ins0:OpenSubscriptionSession></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/OpenSubscriptionSession\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OpenSubscriptionSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"><SessionID>da9de324-8c27-41c0-8586-6ad4c982271a</SessionID></OpenSubscriptionSessionResponse></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:49 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ConsumerPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:ReadPublication><SessionID>da9de324-8c27-41c0-8586-6ad4c982271a</SessionID></ins0:ReadPublication></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/ReadPublication\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><ReadPublicationResponse xmlns="http://www.openoandm.org/xml/ISBM/"><PublicationMessage><MessageID>ed712645-e1d9-4c00-88bf-6fabaf370df1</MessageID><MessageContent><CCOMData xmlns="http://www.mimosa.org/osa-eai/v3-2-3/xml/CCOM-ML"><Entity xsi:type="Asset"><GUID>C013C740-19F5-11E1-92B7-6B8E4824019B</GUID></Entity></CCOMData></MessageContent><Topic>topic</Topic></PublicationMessage></ReadPublicationResponse></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:50 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:ClosePublicationSession><SessionID>ccd9b257-a19d-4205-919c-24376c642c58</SessionID></ins0:ClosePublicationSession></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/ClosePublicationSession\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><ClosePublicationSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:51 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:DeleteChannel><ChannelURI>Test</ChannelURI></ins0:DeleteChannel></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/DeleteChannel\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><DeleteChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:52 GMT
recorded_with: VCR 2.2.5
