--- 
http_interactions: 
  - request: 
      method: post
      uri: http://simpleisbm.apphb.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:CreateChannel><ChannelURI>Test</ChannelURI><ChannelType>Publication</ChannelType><ChannelDescription>description</ChannelDescription></ins0:CreateChannel></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/CreateChannel\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CreateChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Wed, 08 Aug 2012 15:37:54 GMT
  - request: 
      method: post
      uri: http://simpleisbm.apphb.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:GetChannels></ins0:GetChannels></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/GetChannels\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><GetChannelsResponse xmlns="http://www.openoandm.org/xml/ISBM/"><Channel><ChannelURI>Test</ChannelURI><ChannelType>Publication</ChannelType><ChannelDescription>description</ChannelDescription></Channel></GetChannelsResponse></s:Body></s:Envelope>
    recorded_at: Wed, 08 Aug 2012 15:37:55 GMT
  - request: 
      method: post
      uri: http://simpleisbm.apphb.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:DeleteChannel><ChannelURI>Test</ChannelURI></ins0:DeleteChannel></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/DeleteChannel\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><DeleteChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Wed, 08 Aug 2012 15:37:55 GMT
recorded_with: VCR 2.2.4
