---
http_interactions:
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:CreateChannel><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:ChannelType>Publication</isbm:ChannelType></isbm:CreateChannel></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/CreateChannel\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><CreateChannelResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"/></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:19 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:OpenSubscriptionSession><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:Topic>topic</isbm:Topic></isbm:OpenSubscriptionSession></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/OpenSubscriptionSession\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><OpenSubscriptionSessionResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"\
        ><SessionID>7796fdb9-04ad-4ba1-b855-7ee2a510ccf5</SessionID></OpenSubscriptionSessionResponse></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:21 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:OpenPublicationSession><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:OpenPublicationSession></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/OpenPublicationSession\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><OpenPublicationSessionResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"\
        ><SessionID>fb7d7d6a-beac-4448-b030-cddc955a66f4</SessionID></OpenPublicationSessionResponse></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:23 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:ClosePublicationSession><isbm:SessionID>fb7d7d6a-beac-4448-b030-cddc955a66f4</isbm:SessionID></isbm:ClosePublicationSession></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/ClosePublicationSession\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><ClosePublicationSessionResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"\
        /></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:25 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:DeleteChannel><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:DeleteChannel></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/DeleteChannel\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><DeleteChannelResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"/></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:27 GMT
recorded_with: VCR 2.4.0
