---
http_interactions:
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:CreateChannel><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:ChannelType>Publication</isbm:ChannelType></isbm:CreateChannel></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/CreateChannel\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><CreateChannelResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"/></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:29 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:OpenPublicationSession><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:OpenPublicationSession></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/OpenPublicationSession\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><OpenPublicationSessionResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"\
        ><SessionID>39d4bc27-1209-44d7-a8d4-1e287f88dac7</SessionID></OpenPublicationSessionResponse></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:31 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:PostPublication><isbm:SessionID>39d4bc27-1209-44d7-a8d4-1e287f88dac7</isbm:SessionID><isbm:MessageContent><CCOMData\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.mimosa.org/osa-eai/v3-2-3/xml/CCOM-ML\"\
        ><Entity xsi:type=\"Asset\"><GUID>C013C740-19F5-11E1-92B7-6B8E4824019B</GUID></Entity></CCOMData></isbm:MessageContent><isbm:Topic>topic</isbm:Topic><isbm:Expiry></isbm:Expiry></isbm:PostPublication></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/PostPublication\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><PostPublicationResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"><MessageID>da35afe5-6f0c-43aa-b915-6a35c60d283b</MessageID></PostPublicationResponse></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:33 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:OpenSubscriptionSession><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:Topic>topic</isbm:Topic></isbm:OpenSubscriptionSession></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/OpenSubscriptionSession\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><OpenSubscriptionSessionResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"\
        ><SessionID>7f3de7a7-2584-4df0-8087-0e57d6a928db</SessionID></OpenSubscriptionSessionResponse></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:34 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:ReadPublication><isbm:SessionID>7f3de7a7-2584-4df0-8087-0e57d6a928db</isbm:SessionID></isbm:ReadPublication></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/ReadPublication\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><ReadPublicationResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"><PublicationMessage><MessageID>da35afe5-6f0c-43aa-b915-6a35c60d283b</MessageID><MessageContent><CCOMData\
        \ xmlns=\"http://www.mimosa.org/osa-eai/v3-2-3/xml/CCOM-ML\"><Entity xsi:type=\"\
        Asset\"><GUID>C013C740-19F5-11E1-92B7-6B8E4824019B</GUID></Entity></CCOMData></MessageContent><Topic>topic</Topic></PublicationMessage></ReadPublicationResponse></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:36 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:ClosePublicationSession><isbm:SessionID>39d4bc27-1209-44d7-a8d4-1e287f88dac7</isbm:SessionID></isbm:ClosePublicationSession></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/ClosePublicationSession\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><ClosePublicationSessionResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"\
        /></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:37 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:DeleteChannel><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:DeleteChannel></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/DeleteChannel\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><DeleteChannelResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"/></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:52:39 GMT
recorded_with: VCR 2.4.0
