---
http_interactions:
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CreateChannel><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:ChannelType>Publication</isbm:ChannelType></isbm:CreateChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/CreateChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CreateChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 02:58:49 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerPublicationService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:OpenSubscriptionSession><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:Topic>topic</isbm:Topic></isbm:OpenSubscriptionSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/OpenSubscriptionSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OpenSubscriptionSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"><SessionID>0960725c-0f39-41fe-bf71-0851603e5518</SessionID></OpenSubscriptionSessionResponse></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 02:58:51 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerPublicationService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CloseSubscriptionSession><isbm:SessionID>0960725c-0f39-41fe-bf71-0851603e5518</isbm:SessionID></isbm:CloseSubscriptionSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/CloseSubscriptionSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CloseSubscriptionSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 02:58:52 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:DeleteChannel><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:DeleteChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/DeleteChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><DeleteChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 02:58:53 GMT
recorded_with: VCR 2.5.0
