---
http_interactions:
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CreateChannel><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:ChannelType>Request</isbm:ChannelType></isbm:CreateChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/CreateChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><CreateChannelResponse xmlns="http://www.openoandm.org/ws-isbm/"/></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:51 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:OpenConsumerRequestSession><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:OpenConsumerRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/OpenConsumerRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><OpenConsumerRequestSessionResponse xmlns="http://www.openoandm.org/ws-isbm/"><SessionID>098bdad1-ad77-4c71-85db-3ce816f85bda</SessionID></OpenConsumerRequestSessionResponse></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:51 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CloseConsumerRequestSession><isbm:SessionID>098bdad1-ad77-4c71-85db-3ce816f85bda</isbm:SessionID></isbm:CloseConsumerRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/CloseConsumerRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><CloseConsumerRequestSessionResponse xmlns="http://www.openoandm.org/ws-isbm/"/></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:51 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:DeleteChannel><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:DeleteChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/DeleteChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><DeleteChannelResponse xmlns="http://www.openoandm.org/ws-isbm/"/></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:51 GMT
[...]
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:DeleteChannel><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:DeleteChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/DeleteChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><DeleteChannelResponse xmlns="http://www.openoandm.org/ws-isbm/"/></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:38:59 GMT
recorded_with: VCR 2.9.0
