---
http_interactions:
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CreateChannel><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:ChannelType>Request</isbm:ChannelType></isbm:CreateChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/CreateChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CreateChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:21 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:OpenConsumerRequestSession><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:OpenConsumerRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/OpenConsumerRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OpenConsumerRequestSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"><SessionID>664eaffe-35c1-47a4-a27b-f32d448d29dd</SessionID></OpenConsumerRequestSessionResponse></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:22 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:OpenProviderRequestSession><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:Topic>topic</isbm:Topic></isbm:OpenProviderRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/OpenProviderRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OpenProviderRequestSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"><SessionID>0877c85b-24af-4ed5-bd70-5f71641d0a86</SessionID></OpenProviderRequestSessionResponse></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:24 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:PostRequest><isbm:SessionID>664eaffe-35c1-47a4-a27b-f32d448d29dd</isbm:SessionID><isbm:MessageContent><CCOMData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.mimosa.org/osa-eai/v3-2-3/xml/CCOM-ML"><Entity xsi:type="Asset"><GUID>C013C740-19F5-11E1-92B7-6B8E4824019B</GUID></Entity></CCOMData></isbm:MessageContent><isbm:Topic>topic</isbm:Topic></isbm:PostRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/PostRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><PostRequestResponse xmlns="http://www.openoandm.org/xml/ISBM/"><MessageID>0d831c7c-e6d7-44ae-bb0d-a19696a13d1d</MessageID></PostRequestResponse></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:25 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:PostResponse><isbm:SessionID>0877c85b-24af-4ed5-bd70-5f71641d0a86</isbm:SessionID><isbm:RequestMessageID>0d831c7c-e6d7-44ae-bb0d-a19696a13d1d</isbm:RequestMessageID><isbm:MessageContent><CCOMData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.mimosa.org/osa-eai/v3-2-3/xml/CCOM-ML"><Entity xsi:type="Asset"><GUID>C013C740-19F5-11E1-92B7-6B8E4824019B</GUID></Entity></CCOMData></isbm:MessageContent></isbm:PostResponse></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/PostResponse"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><PostResponseResponse xmlns="http://www.openoandm.org/xml/ISBM/"><MessageID>b66f2b9f-087e-43c0-85d3-36d96ff6fcb1</MessageID></PostResponseResponse></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:26 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:RemoveResponse><isbm:SessionID>664eaffe-35c1-47a4-a27b-f32d448d29dd</isbm:SessionID><isbm:RequestMessageID>0d831c7c-e6d7-44ae-bb0d-a19696a13d1d</isbm:RequestMessageID></isbm:RemoveResponse></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/RemoveResponse"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><RemoveResponseResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:28 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:ReadResponse><isbm:SessionID>664eaffe-35c1-47a4-a27b-f32d448d29dd</isbm:SessionID><isbm:RequestMessageID>0d831c7c-e6d7-44ae-bb0d-a19696a13d1d</isbm:RequestMessageID></isbm:ReadResponse></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/ReadResponse"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><ReadResponseResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:29 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CloseProviderRequestSession><isbm:SessionID>0877c85b-24af-4ed5-bd70-5f71641d0a86</isbm:SessionID></isbm:CloseProviderRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/CloseProviderRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CloseProviderRequestSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:30 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CloseConsumerRequestSession><isbm:SessionID>664eaffe-35c1-47a4-a27b-f32d448d29dd</isbm:SessionID></isbm:CloseConsumerRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/CloseConsumerRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CloseConsumerRequestSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:31 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:DeleteChannel><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:DeleteChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/DeleteChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><DeleteChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:33 GMT
recorded_with: VCR 2.5.0
