--- 
http_interactions: 
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:CreateChannel><ChannelURI>Test1350447709</ChannelURI><ChannelType>Publication</ChannelType></ins0:CreateChannel></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/CreateChannel\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CreateChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Wed, 17 Oct 2012 04:21:50 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:OpenPublicationSession><ChannelURI>Test1350447709</ChannelURI></ins0:OpenPublicationSession></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/OpenPublicationSession\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OpenPublicationSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"><SessionID>df4b407f-87c6-4cdc-9b1f-3a0219ccad3b</SessionID></OpenPublicationSessionResponse></s:Body></s:Envelope>
    recorded_at: Wed, 17 Oct 2012 04:21:51 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:PostPublication><SessionID>df4b407f-87c6-4cdc-9b1f-3a0219ccad3b</SessionID><MessageContent><test/></MessageContent><Topic>topic</Topic><Expiry>PT1H</Expiry></ins0:PostPublication></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/PostPublication\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><PostPublicationResponse xmlns="http://www.openoandm.org/xml/ISBM/"><MessageID>02e896bb-f46d-4336-bbc1-c5819a4fb7f3</MessageID></PostPublicationResponse></s:Body></s:Envelope>
    recorded_at: Wed, 17 Oct 2012 04:21:52 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:ClosePublicationSession><SessionID>df4b407f-87c6-4cdc-9b1f-3a0219ccad3b</SessionID></ins0:ClosePublicationSession></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/ClosePublicationSession\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><ClosePublicationSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Wed, 17 Oct 2012 04:21:54 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:DeleteChannel><ChannelURI>Test1350447709</ChannelURI></ins0:DeleteChannel></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/DeleteChannel\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><DeleteChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Wed, 17 Oct 2012 04:21:55 GMT
recorded_with: VCR 2.2.5
