--- 
http_interactions: 
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:CreateChannel><ChannelURI>Test1354235661</ChannelURI><ChannelType>Publication</ChannelType></ins0:CreateChannel></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/CreateChannel\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CreateChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:22 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:OpenPublicationSession><ChannelURI>Test1354235661</ChannelURI></ins0:OpenPublicationSession></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/OpenPublicationSession\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OpenPublicationSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"><SessionID>b0be654a-5032-482b-9f73-921c998e2837</SessionID></OpenPublicationSessionResponse></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:23 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:PostPublication><SessionID>b0be654a-5032-482b-9f73-921c998e2837</SessionID><MessageContent><test/></MessageContent><Topic>topic</Topic><Expiry></Expiry></ins0:PostPublication></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/PostPublication\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><PostPublicationResponse xmlns="http://www.openoandm.org/xml/ISBM/"><MessageID>007e64ef-4c0d-4763-9da0-8f1f8d052685</MessageID></PostPublicationResponse></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:24 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:ClosePublicationSession><SessionID>b0be654a-5032-482b-9f73-921c998e2837</SessionID></ins0:ClosePublicationSession></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/ClosePublicationSession\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><ClosePublicationSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:25 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:DeleteChannel><ChannelURI>Test1354235661</ChannelURI></ins0:DeleteChannel></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/DeleteChannel\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><DeleteChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:27 GMT
recorded_with: VCR 2.2.5
