--- 
http_interactions: 
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:CreateChannel><ChannelURI>Test1354235672</ChannelURI><ChannelType>Publication</ChannelType></ins0:CreateChannel></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/CreateChannel\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CreateChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:33 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:OpenPublicationSession><ChannelURI>Test1354235672</ChannelURI></ins0:OpenPublicationSession></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/OpenPublicationSession\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OpenPublicationSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"><SessionID>7aa0d6ad-5981-4352-aa00-bf953d80021a</SessionID></OpenPublicationSessionResponse></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:35 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:PostPublication><SessionID>7aa0d6ad-5981-4352-aa00-bf953d80021a</SessionID><MessageContent><test/></MessageContent><Topic>topic</Topic><Expiry>PT1H</Expiry></ins0:PostPublication></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/PostPublication\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><PostPublicationResponse xmlns="http://www.openoandm.org/xml/ISBM/"><MessageID>616268f3-9873-48a7-a459-2b5f9b8d963a</MessageID></PostPublicationResponse></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:36 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ProviderPublicationService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:ClosePublicationSession><SessionID>7aa0d6ad-5981-4352-aa00-bf953d80021a</SessionID></ins0:ClosePublicationSession></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/ClosePublicationSession\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><ClosePublicationSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:37 GMT
  - request: 
      method: post
      uri: http://simpleisbm.assetricity.com/ChannelManagementService
      body: 
        string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.openoandm.org/xml/ISBM/" xmlns="http://www.openoandm.org/xml/ISBM/"><env:Body><ins0:DeleteChannel><ChannelURI>Test1354235672</ChannelURI></ins0:DeleteChannel></env:Body></env:Envelope>
      headers: 
        soapaction: 
          - "\"http://www.openoandm.org/xml/ISBM/DeleteChannel\""
        content-type: 
          - text/xml;charset=UTF-8
    response: 
      status: 
        code: 200
        message: OK
      headers: 
        content-type: 
          - text/xml; charset=utf-8
      body: 
        string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><DeleteChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
    recorded_at: Fri, 30 Nov 2012 00:34:38 GMT
recorded_with: VCR 2.2.5
