---
http_interactions:
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CreateChannel><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:ChannelType>Request</isbm:ChannelType></isbm:CreateChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/CreateChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><CreateChannelResponse xmlns="http://www.openoandm.org/ws-isbm/"/></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:53 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:OpenProviderRequestSession><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:Topic>topic</isbm:Topic></isbm:OpenProviderRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/OpenProviderRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><OpenProviderRequestSessionResponse xmlns="http://www.openoandm.org/ws-isbm/"><SessionID>05775f5f-3904-464b-9ccf-7db86e458dbe</SessionID></OpenProviderRequestSessionResponse></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:53 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:OpenConsumerRequestSession><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:OpenConsumerRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/OpenConsumerRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><OpenConsumerRequestSessionResponse xmlns="http://www.openoandm.org/ws-isbm/"><SessionID>f028e022-ab74-42f6-b1bf-38c287ffc4b2</SessionID></OpenConsumerRequestSessionResponse></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:53 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:PostRequest><isbm:SessionID>f028e022-ab74-42f6-b1bf-38c287ffc4b2</isbm:SessionID><isbm:MessageContent><CCOMData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns="http://www.mimosa.org/osa-eai/v3-2-3/xml/CCOM-ML">
          <Entity xsi:type="Asset">
            <GUID>C013C740-19F5-11E1-92B7-6B8E4824019B</GUID>
          </Entity>
        </CCOMData>
        </isbm:MessageContent><isbm:Topic>topic</isbm:Topic><isbm:Expiry></isbm:Expiry></isbm:PostRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/PostRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><PostRequestResponse xmlns="http://www.openoandm.org/ws-isbm/"><MessageID>7402bf90-71da-4c9e-9421-641a90ea47d2</MessageID></PostRequestResponse></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:53 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderRequestService
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:PostResponse><isbm:SessionID>05775f5f-3904-464b-9ccf-7db86e458dbe</isbm:SessionID><isbm:RequestMessageID>7402bf90-71da-4c9e-9421-641a90ea47d2</isbm:RequestMessageID><isbm:MessageContent><CCOMData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns="http://www.mimosa.org/osa-eai/v3-2-3/xml/CCOM-ML">
          <Entity xsi:type="Asset">
            <GUID>C013C740-19F5-11E1-92B7-6B8E4824019B</GUID>
          </Entity>
        </CCOMData>
        </isbm:MessageContent></isbm:PostResponse></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/PostResponse"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><PostResponseResponse xmlns="http://www.openoandm.org/ws-isbm/"><MessageID>71a13b25-dc9f-4f30-a05e-f2529ce6ca70</MessageID></PostResponseResponse></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:53 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:RemoveResponse><isbm:SessionID>f028e022-ab74-42f6-b1bf-38c287ffc4b2</isbm:SessionID><isbm:RequestMessageID>7402bf90-71da-4c9e-9421-641a90ea47d2</isbm:RequestMessageID></isbm:RemoveResponse></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/RemoveResponse"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><RemoveResponseResponse xmlns="http://www.openoandm.org/ws-isbm/"/></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:54 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:ReadResponse><isbm:SessionID>f028e022-ab74-42f6-b1bf-38c287ffc4b2</isbm:SessionID><isbm:RequestMessageID>7402bf90-71da-4c9e-9421-641a90ea47d2</isbm:RequestMessageID></isbm:ReadResponse></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/ReadResponse"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ReadResponseResponse xmlns="http://www.openoandm.org/ws-isbm/"/></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:54 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CloseProviderRequestSession><isbm:SessionID>05775f5f-3904-464b-9ccf-7db86e458dbe</isbm:SessionID></isbm:CloseProviderRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/CloseProviderRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><CloseProviderRequestSessionResponse xmlns="http://www.openoandm.org/ws-isbm/"/></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:54 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CloseConsumerRequestSession><isbm:SessionID>f028e022-ab74-42f6-b1bf-38c287ffc4b2</isbm:SessionID></isbm:CloseConsumerRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/CloseConsumerRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><CloseConsumerRequestSessionResponse xmlns="http://www.openoandm.org/ws-isbm/"/></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:54 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/ws-isbm/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:DeleteChannel><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:DeleteChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/ws-isbm/DeleteChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><DeleteChannelResponse xmlns="http://www.openoandm.org/ws-isbm/"/></S:Body></S:Envelope>
  recorded_at: Thu, 26 Jun 2014 23:35:54 GMT
recorded_with: VCR 2.9.0
