---
http_interactions:
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CreateChannel><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:ChannelType>Request</isbm:ChannelType></isbm:CreateChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/CreateChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CreateChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:51 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:OpenProviderRequestSession><isbm:ChannelURI>Test</isbm:ChannelURI><isbm:Topic>topic</isbm:Topic></isbm:OpenProviderRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/OpenProviderRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OpenProviderRequestSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"><SessionID>f1a09abe-9a3e-49d1-bab1-07acb9311557</SessionID></OpenProviderRequestSessionResponse></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:52 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:OpenConsumerRequestSession><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:OpenConsumerRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/OpenConsumerRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><OpenConsumerRequestSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"><SessionID>3ee6687f-e7d4-4c11-af10-9982911d7c94</SessionID></OpenConsumerRequestSessionResponse></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:54 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:PostRequest><isbm:SessionID>3ee6687f-e7d4-4c11-af10-9982911d7c94</isbm:SessionID><isbm:MessageContent><CCOMData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.mimosa.org/osa-eai/v3-2-3/xml/CCOM-ML"><Entity xsi:type="Asset"><GUID>C013C740-19F5-11E1-92B7-6B8E4824019B</GUID></Entity></CCOMData></isbm:MessageContent><isbm:Topic>topic</isbm:Topic></isbm:PostRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/PostRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><PostRequestResponse xmlns="http://www.openoandm.org/xml/ISBM/"><MessageID>1fb4c24f-2a76-448b-aab4-4d878710dfc2</MessageID></PostRequestResponse></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:55 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:RemoveRequest><isbm:SessionID>f1a09abe-9a3e-49d1-bab1-07acb9311557</isbm:SessionID></isbm:RemoveRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/RemoveRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><RemoveRequestResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:56 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:ReadRequest><isbm:SessionID>f1a09abe-9a3e-49d1-bab1-07acb9311557</isbm:SessionID></isbm:ReadRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/ReadRequest"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><ReadRequestResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:57 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ConsumerRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CloseConsumerRequestSession><isbm:SessionID>3ee6687f-e7d4-4c11-af10-9982911d7c94</isbm:SessionID></isbm:CloseConsumerRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/CloseConsumerRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CloseConsumerRequestSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:44:59 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderRequestService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:CloseProviderRequestSession><isbm:SessionID>f1a09abe-9a3e-49d1-bab1-07acb9311557</isbm:SessionID></isbm:CloseProviderRequestSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/CloseProviderRequestSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><CloseProviderRequestSessionResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:45:00 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:isbm="http://www.openoandm.org/xml/ISBM/" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><isbm:DeleteChannel><isbm:ChannelURI>Test</isbm:ChannelURI></isbm:DeleteChannel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.openoandm.org/xml/ISBM/DeleteChannel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><DeleteChannelResponse xmlns="http://www.openoandm.org/xml/ISBM/"/></s:Body></s:Envelope>
  recorded_at: Mon, 19 Aug 2013 01:45:02 GMT
recorded_with: VCR 2.5.0
