---
http_interactions:
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:CreateChannel><isbm:ChannelURI>Test1357783359</isbm:ChannelURI><isbm:ChannelType>Publication</isbm:ChannelType></isbm:CreateChannel></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/CreateChannel\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><CreateChannelResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"/></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:02:41 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:OpenPublicationSession><isbm:ChannelURI>Test1357783359</isbm:ChannelURI></isbm:OpenPublicationSession></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/OpenPublicationSession\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><OpenPublicationSessionResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"\
        ><SessionID>0f77fa0b-fdc0-4482-9bc6-d5499c4e8c90</SessionID></OpenPublicationSessionResponse></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:02:43 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:PostPublication><isbm:SessionID>0f77fa0b-fdc0-4482-9bc6-d5499c4e8c90</isbm:SessionID><isbm:MessageContent><test/></isbm:MessageContent><isbm:Topic>topic</isbm:Topic><isbm:Expiry></isbm:Expiry></isbm:PostPublication></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/PostPublication\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><PostPublicationResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"><MessageID>c1d8aa3e-5f3f-47a9-8dfe-7079af3ca15d</MessageID></PostPublicationResponse></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:02:45 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ProviderPublicationService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:ClosePublicationSession><isbm:SessionID>0f77fa0b-fdc0-4482-9bc6-d5499c4e8c90</isbm:SessionID></isbm:ClosePublicationSession></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/ClosePublicationSession\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><ClosePublicationSessionResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"\
        /></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:02:47 GMT
- request:
    method: post
    uri: http://simpleisbm.assetricity.com/ChannelManagementService
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:isbm=\"http://www.openoandm.org/xml/ISBM/\" xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\
        ><env:Body><isbm:DeleteChannel><isbm:ChannelURI>Test1357783359</isbm:ChannelURI></isbm:DeleteChannel></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"http://www.openoandm.org/xml/ISBM/DeleteChannel\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body\
        \ xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        ><DeleteChannelResponse xmlns=\"http://www.openoandm.org/xml/ISBM/\"/></s:Body></s:Envelope>"
  recorded_at: Thu, 10 Jan 2013 02:02:49 GMT
recorded_with: VCR 2.4.0
